<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./styles/bacon.landing.page.css">
            <title>checkpoint2-BaconIpsum</title>
            <a href="instagram.com">Instagram</a>
<a href="facebook.com">Facebook</a>
<a href="about.html">About</a>
<a href="contact.html">Contact</a>
        <header>
       <H1>Welcome To Our Site</H1>
        </header>
    </head>
    <body>
        <main>
          <div class="container1">
              <h2>title1</h2>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed blandit purus id sem hendrerit vehicula. Maecenas sed volutpat leo. Integer nisl risus, tincidunt at gravida vel, egestas et justo. Vivamus faucibus sed mauris hendrerit pretium. Nam gravida dapibus aliquet. Suspendisse quis ligula faucibus, porttitor arcu id, luctus tortor.
          </div>
          <div class="container2">
                <h2>title2</h2>
                Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla aliquam, orci non tristique hendrerit, nunc enim luctus ipsum, sed volutpat lacus neque vel turpis. Aenean congue purus sapien, vel tincidunt sem dictum eu. Donec luctus ultricies lorem vitae tristique. Donec feugiat nisl at magna facilisis, eget placerat diam suscipit. Morbi malesuada facilisis erat, eget imperdiet sem porttitor id.
            </div>
            <div class="container3">
                    <h2>title3</h2>
                    Sed magna metus, eleifend ut risus vel, mattis venenatis leo. Proin eget diam tellus. Suspendisse ligula leo, porta at fringilla vel, feugiat in eros. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec non nunc sem. Curabitur ac lorem eget elit fringilla aliquet. Nunc eu semper diam.
                </div>
        </main>
        <iframe src="https://www.youtube.com/watch?v=vI6OD4VJssM" frameborder="0"></iframe>
    </body>
</html>