:root {
  --teal-050: #effcf6;
  --teal-100: #c6f7e2;
  --teal-200: #8eedc7;
  --teal-300: #65d6ad;
  --teal-400: #3ebd93;
  --teal-500: #27ab83;
  --teal-600: #199473;
  --teal-700: #147d64;
  --teal-800: #0c6b58;
  --teal-900: #014d40;

  --blue-grey-050: #f0f4f8;
  --blue-grey-100: #d9e2ec;
  --blue-grey-200: #bcccdc;
  --blue-grey-300: #9fb3c8;
  --blue-grey-400: #829ab1;
  --blue-grey-500: #627d98;
  --blue-grey-600: #486581;
  --blue-grey-700: #334e68;
  --blue-grey-800: #243b53;
  --blue-grey-900: #102a43;
}

html {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 125%;
  line-height: 1.4;
  font-weight: 400;
  color: var(--blue-grey-900);
    font-size: 62.5%;
    box-sizing: border-box;
  }
  *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    text-align: center;
  }
}
}
body {

  background-image: url(https://images.unsplash.com/photo-1566127444977-e09782d3f691?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=749&q=80);
  background-repeat: no-repeat;
  background-size: 100%;
}

main {
  max-width: max-content;
  margin: 20px;
  padding: 1.5em;
  background-color: #fff;
  border: 2px solid var(--blue-grey-200);
  border-radius: 8px;
}
.greeting{
}
.calender {
  text-align: center;

}
.month-indicator {
  color: var(--blue-grey-700);
  text-align: center;
  font-weight: 500;
}

.day-of-week,
.date-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

header
.day-of-week {
  margin-top: 1.25em;
}

.day-of-week > * {
  font-size: 0.7em;
  color: var(--blue-grey-400);
  font-weight: 500;
  letter-spacing: 0.1em;
  font-variant: small-caps;
  text-align: center;
}


.date-grid {
  margin-top: 0.5em;
}


.date-grid button:first-child {
  grid-column: 1;
}

Style
.date-grid button {
  position: relative;
  border: 0;
  width: 4.5ch;
  height: 4.5ch;
  border-radius: 50%;
  background-color: transparent;
  color: var(--blue-grey-600);
}

.date-grid button:hover,
.date-grid button:focus {
  outline: none;
  background-color: var(--blue-grey-050);
  color: var(--blue-grey-700);
}

.date-grid button:active,
.date-grid button.is-selected {
  background-color: var(--teal-100);
  color: var(--teal-900);

}




*{
  box-sizing: border-box;
}
body{
  min-height: 100vh;
  display:flex;
  justify-content: center;
  align-items: flex-start;
}
.container{
  display:flex;
  flex-wrap: wrap;
  flex: 0 1 60%;
  min-width:400px;
}

.buttons,.result{
  display: flex;
  flex-wrap: wrap;
  flex: 0 1 100%;
}
.result{
  height: 50px;
  border: 1px solid black;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.5em;
  background: #000;
  color:#fff;
  padding:0 10px;
}
.button{
  display:flex;
  flex: 0 1 25%;
  justify-content: center;
  align-items: center;
  height: 50px;
  border: 1px solid black;
  border-top:none;
  border-left:none;
  cursor: pointer;
  background: -webkit-linear-gradient(top,#d2d2d2,#ddd);
  font-size:2em;
}
.button:nth-child(4n+1){
  border-left: 1px solid black;
}
.button:nth-child(4n),.button:last-child{
  background: #f98110;
  color: #fff;
}
.zero-btn{
  flex-grow: 2;
}
.doubleBordered{
  border: 2px solid black;
}






ul {
  margin:0;
  padding:0;
}


ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 8px;
  background: #eee;
  font-size: 12px;
  transition: 0.2s;

 
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul li:nth-child(odd) {
  background: #f9f9f9;
}


ul li:hover {
  background: #ddd;
}

ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}


ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}


.header {
  background-color: #f44336;
  padding: 20px 10px;
  color: white;
  text-align: center;
}


.header:after {
  content: "";
  display: table;
  clear: both;
}


input {
  margin: 0;
  border: none;
  border-radius: 20px;
  width: 75%;
  padding: 4px;
  float: left;
  font-size: 16px;
}


.addBtn {
  padding:2.5px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 20px;
}

.addBtn:hover {
  background-color: #bbb;
}