
header{
    text-align: left;
    font-size: 30px;
    font-style: underline;
}
body{
    background-image: url(../img/white\ lines.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    justify-content: left;
    grid-template-areas: 
}
body  h2{
    text-decoration: underline;
}
.name{
    margin: 70px;
    margin-right: 10px;
    border: 2px solid black;
}
.company{
    margin: 70px;
    margin-right: 10px;
    border: 2px solid black;
}
.phone{
    margin: 70px;
    margin-right: 10px;
    border: 2px solid black;
}
.email{
    margin: 70px;
    margin-right: 10px;
    border: 2px solid black;
}
.message{
    {
        position:absolute;
        min-width:22%;
        height 20%;
        top:0%;
        right:0%;
        z-index:10;
        background-color:#CCC;
        border: 1px solid grey;
        
        }
}


@media (max-width: 1024px) {
    body{
        justify-content: center;
        background-size: 200%;
    }
}
@media (max-width: 1280px) {
body{
    justify-content: center;
    background-size: 140%;
}
}