html{
    display: flex;
    flex-direction: row;
    align-content: center;
}

header{
    Font-size: 60px;
text-align: center;
}
.Header{
    float: center;
}

body{
    background-image: url(../img/tri.jfif);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0%;
    padding: 0%;
}
li{
    width: 250px;
}

#body > ul {
    display flex;
    float: left;
    margin: 0 auto;
    padding: 24px 20px 20px;
    width: 400px;
}
ul {
    display: flex;
    list-style-type: disc;
}

#body > ul li {
    display: flex;
    float: center;
    margin: 0 10px 20px;
    padding: 0;
    width: 300px;
    border: 2px solid #1a1a1a;
    transition: 0.5s ease-in-out;
}
#body > ul li span{
    display: flex;
    font-size: 20px;
    font-weight: normal;
    margin: 0;
    padding: 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
img{
    height: 200px;
    width: 300px;
}